<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite  name = "EmployeesRestAPISuite">
<listeners>
  <listener class-name = "com.employeesapi.utilities.Reporting"/>

</listeners>

<test name = "RESTAPItest">


<classes>

     <class name = "com.employeesapi.testcases.TC001_Get_all_employees"/>
        <class name = "com.employeesapi.testcases.TC002_GetSingleemprecord"/>
        
</classes>

</test>



<!--  <test name = "firefoxtest">
<parameter name = "browser" value = "firefox"/>
<classes>

      <class name = "com.nopcommerce.testcases.TC_Loginpage_001">

</class>
</classes>
</test>-->



</suite>